<%if notice %>
	<p id="notice"> <%=notice%> </p>
<%end%>


<h1> Your sheets list!</h1>
	<% @sheets.each do |sht| %>
		<div class="entry">
			<table>
				<tr>
					<td>
						<h3><%= sht.charachter_name %></h3>
					</td>
					<td>
						<h3><%= sht.game.game_name %></h3>
					</td>
				</tr>
			</table>
						
		</div>	
	<%end%>
<%= link_to 'New Sheet', new_sheet_path %>